<div class="job-profile-related">
    @*Temporary for debugging purposes*@
    <h2>Canonical Name: @Model.CanonicalName</h2>
    <h2>DocumentId: @Model.DocumentId</h2>

    <h2 class="heading-medium">Related careers</h2>
    <ul class="list list-big">
        @foreach (var relatedCareerDataViewModel in Model.Data.RelatedCareers)
        {
            <li><a href="../@relatedCareerDataViewModel.CanonicalName">@relatedCareerDataViewModel.Title</a></li>

        }
    </ul>
</div>