        
<div class="job-profile-related">
    <h3 class="govuk-heading-m">Related careers</h3>
    <ul class="list list-big">
        @foreach (var relatedCareerDataViewModel in Model.Data.RelatedCareers)
        {
            <li><a href="/@Model.RoutePrefix@relatedCareerDataViewModel.ProfileLink">@relatedCareerDataViewModel.Title</a></li>
        }
    </ul>
</div>
