<div class="job-profile-related">
    <h2 class="heading-medium">Related careers</h2>
    <ul class="list list-big">
        @foreach (var relatedCareerDataViewModel in Model.Data.RelatedCareers)
        {
            <li><a href="/jobprofile/@relatedCareerDataViewModel.CanonicalName">@relatedCareerDataViewModel.Title</a></li>
        }
    </ul>
</div>